*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-color: rgb(217, 219, 212);
}

#app {
    position: relative;
    width: 100%;
    height: 100vh;
}

#background-top {
    background-color: #009688;
    height: 120px;
  }

.container{
    position: absolute;
    top: 40px;
    bottom: 40px;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
}

.container main{
    display: flex;
    height: 100%;
}

/* Inizio LEFT SIDE */
.container main .left-side{
    width: 600px;
    height: 100%;
    background-color: white;
    overflow: auto;
}

.container main .left-side nav .user{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    background-color: #eaeaea;
    padding: 0 20px;
    border-right: 1px solid rgb(200, 200, 200);
}

.container main .left-side nav .user .my-user{
    display: flex;
    align-items: center; 
}

.container main .left-side nav .user .my-user-option{
    display: flex;
    gap: 14px;
    font-size: 18px;
    color: rgb(117, 122, 124);
}

.container main .left-side nav .user .my-user img{
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.container main .left-side nav .nav-search-input .notification-active{
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 16px;
    background-color: rgb(140, 218, 251);
}

.container main .left-side nav .nav-search-input .notification-active i{
    background-color: white;
    border-radius: 50%;
    padding: 10px;
    font-size: 18px;
    color: rgb(140, 218, 251);
}

.container main .left-side nav .nav-search-input .notification-active .notification-active-text{
    display: flex;
    flex-direction: column;
    gap: 2px;
    font-size: 0.8em;
}

.container main .left-side nav .nav-search-input .search-input{
    padding: 10px;
    background-color: #f7f7f7;
}

.container main .left-side nav .nav-search-input .search-input input{
    width: 100%;
    padding: 8px 20px;
    border-radius: 8px;
    border: none;
}

.container main .left-side nav .nav-search-input .notification-active .notification-active-text a{
    color: rgb(117, 122, 124);
}

.container main .left-side nav .nav-main li {
    display: flex;
    justify-content: space-between;
    padding: 8px 20px;
    border-bottom: 1px solid #eaeaea;
    cursor: pointer;
}

.container main .left-side nav .nav-main li:hover{
    background-color: rgb(230, 230, 230);
}

.container main .left-side nav .nav-main li.active{
    background-color: rgb(230, 230, 230);
}

.container main .left-side nav .nav-main li .item-image{
    display: flex;
}

.container main .left-side nav .nav-main li .item-image .text .last-message-send{
    font-size: 0.7em;
}

.container main .left-side nav .nav-main li img{
    width: 50px;
    border-radius: 50%;
    margin-right: 20px;
}

.container main .left-side nav .nav-main li .chat-hours{
    font-size: 0.8em;
}
/* Fine LEFT SIDE */

/* Inizio RIGHT SIDE */
.container main .right-side{
    width: 100%;
    height: 100%;
}

.container main .right-side .current-chat-user{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    background-color: #eaeaea;
    padding: 0 20px;
}

.container main .right-side .current-chat-user .current-user{
    display: flex;
    align-items: center;
    gap: 20px;
}

.container main .right-side .current-chat-user .current-user img{
    width: 50px;
    border-radius: 50%;
}

.container main .right-side .current-chat-user .current-user .current-user-text .last-access{
    color: gray;
    margin-top: 4px;
    font-size: .8em;
}

.container main .right-side .current-chat-user .current-chat-option{
    display: flex;
    gap: 16px;
    font-size: 18px;
    color: rgb(117, 122, 124);
}

.container main .right-side .current-chat-messages{
    height: calc(100% - 140px);
    overflow: auto;
    background-color: white;
    background-image: url(../img/mine.jpg);
}

.container main .right-side .current-chat-messages .my-user-messages{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
    padding: 60px 70px;
}

.container main .right-side .current-chat-messages .my-user-messages .send-messages{
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 40px;
    max-width: 60%;
    min-width: 200px;
    border-radius: 8px;
    padding: 12px 40px 16px 20px;
    font-size: .9em;
}

.container main .right-side .current-chat-messages .my-user-messages .send-messages .message-date{
    display: flex;
    justify-content: flex-end;
    margin-top: 6px;
    font-size: 0.8em;
}



/* Inizio menu dropdown dei messaggi */

.drop-menu i{
    cursor: pointer;
    display: none;
    position: absolute;
    bottom: 4px;
    right: 4px;
}

.drop-menu-disappearing{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 10px;
    top: 24px;
    right: 0;
    font-size: 0.8em;
    list-style-type: none;
    background-color: white;
    border-radius: 8px;
    padding: 14px;
    visibility: hidden;
    opacity: 0;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
} 

.send-messages:hover .drop-menu i{
    display: flex;
    align-self: flex-end;
}

.drop-menu-disappearing.active{
    visibility: visible;
    opacity: 1;
    z-index: 1;
}
/* Fine menu dropdown dei messaggi */

.container main .right-side .current-chat-messages .my-user-messages .send-messages.sent{
    background-color: #d5f9bd;
}

.container main .right-side .current-chat-messages .my-user-messages .send-messages.received{
    align-self: flex-start;
    background-color: white;
}

.container main .right-side .input-message{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: #eaeaea;
    padding: 0 40px;
}

.container main .right-side .input-message i {
    font-size: 22px;
    color: rgb(117, 122, 124);
    cursor: pointer;
}

.container main .right-side .input-message input{
    flex-grow: 1;
    margin: 0 40px;
    padding: 14px 18px;
    border-radius: 8px;
    border: none;
}
/* Fine RIGHT SIDE */
